*{
  box-sizing: border-box;
}
.body{
  margin-left: 20px;
  margin-top: 20px;
  
}
main{
  width: 95%;
  height: 500px;
  background-color:lightgrey;
  text-align: center;
  padding: 100px;

}
.project{
  width: 95%;
  height: 100px;
  background-color:lightgrey;
  text-align: center;
  padding: 10px;
}

.header{
  width: 95%;
  padding: 10px;
  outline: 2px solid lightgray;
  display: inline-block;
  max-height: 100px;
  
}
.portlink {
  position: relative;
  text-align: center;
  bottom: 20px;
  visibility: hidden;
}
.contactlink {
  position: relative;
  text-align: right;
  margin-right: 50px;
  bottom: 68px;
  visibility: hidden;
}

.headline{
  position: relative;
  top: 30px;
  font-size: 1.7rem;
}

.title{
  width: 95%;
  padding: 10px;
  outline: 2px solid lightgray;
  height: 35px;
  
}
.projectlabel{
  position: relative;
  bottom: 22px;
}
.thumbnail{
    width: 95%;
  padding: 20px;
  background: lightgrey;
  height: 200px;
  text-align: center;
}
p {
  width: 95%;
}

.contact{
  display: inline-block;
  position: relative;
  bottom: 30px;

}
@media screen and (min-width: 680px) {
  .portfolio{
    visibility: hidden;
  }
  .contact{
    visibility: hidden;
  }
  main {
    height: 300px;
  }
  .portlink {
    visibility: visible;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .contactlink {
    visibility: visible;
  }
  
}